.header {
    width: 100%;
    background-color: rgba(255, 193, 7, 0.25);
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1300px;
    padding: 1rem 0;

}

.main-nav {
    font-weight: 500;

    & .main-nav-item:hover {
        color: white;
        font-weight: 700;
    }
}

.nav-icons {
    margin-left: 50px;
}

.logos-header {
    font-size: 24px;

    &:hover {
        color: white;
        font-weight: 700;
    }
}