.container.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 77vh;

}

.card-viewActivities {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header-view {
    color: black;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.list-group-viewActivities {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-group-viewActivities .list-group-item {
    border: none;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.card-body-view-activities {
    margin-top: 20px;
}


btn-view {
    background-color: #ff91a4;
    /* Color de fondo del botón */
    color: #fff;
    /* Color del texto del botón */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
}

.btn-view:hover {
    background-color: #e88191;
    /* Color de fondo al pasar el mouse */
}